<!DOCTYPE html>
<html lang="tr">
<script>
  if (location.protocol != 'https:') {
 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
  </script>
  </script>
<head>
  <% if (bot.ayar.has(`karalist_${user.id}`)) return "Botun komutlarını kullanabilme ve siteyi görme hakkınız bulunmamaktadır!";  { %>
 <% } %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%=bot.avatarURL%>">
  <meta name="author" content="<%=bot.user.tag%>">
  <meta name="keywords" content="Vortex">
  <title>
    Merhaba, <%=user.username%>
  </title>

  <meta property="og:image" content="<%=bot.avatarURL%>">
  <meta property="og:description" content="Gelişmiş Türkçe Discord Botu Vortex">
  <meta name="description" content="Gelişmiş Türkçe Discord Botu Vortex">
  <meta name="theme-color" content="#0070fa">
  <meta charset="UTF-8">
<link href="/css/site.css" rel="stylesheet" />
<link href="/css/demo.css" rel="stylesheet" />
  

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

  <link rel="stylesheet" href="/css/main.css" />
  
	<link rel='icon' href='<%=bot.avatarURL%>'>
	<title><%=bot.user.username%> Web Paneli</title>
</head>
  
  <body>
    
    
          <%if(!user) {%>
           <meta http-equiv="refresh" content="0;URL=https://panel.botvortex.xyz">
            <%}%>
       <%if(user) {%>
          
              
              
              
        </div>
          </li>

      <%}%>

        </ul>
      </div>

  </nav>
<script src="/css/js/jquery.min.js"></script>
  <script src="/css/js/popper.min.js"></script>
  <script src="/css/js/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/css/js/perfect-scrollbar.jquery.min.js"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>



  <script src="/css/js/chartist.min.js"></script>

  <script src="/css/js/bootstrap-notify.js"></script>
 
  <script src="/css/js/material-dashboard.js?v=2.1.0"></script>
    
 
  <script src="/css/js/demo.js"></script>
