



      <style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
        
        
         {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
        


</style>

  
      


      

<!doctype html>
<html lang="en">

<head>
<% if (bot.ayar.has(`karalist_${user.id}`)) return "Botun komutlarını kullanabilme ve siteyi görme hakkınız bulunmamaktadır!";  { %>
 <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

   <link href="/css/site.css" rel="stylesheet" />
  <link rel='icon' href='<%=bot.avatarURL%>'>
  <link href="./css/demo.css" rel="stylesheet" />
<title>
  Merhaba, <%=user.username%>
  </title>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="black" data-image="./css/olsana.png">
   
     <div class="logo"><a href="https://dash.vortexbot.org/anasayfa" class="simple-text logo-normal">
          Vortex Anasayfa
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        
         
           <li class="nav-item ">
              <a class="nav-link" href="https://dash.vortexbot.org/anasayfa">
              <i class="material-icons">announcement</i>
              <p>Bilgilendirme</p>
            </a>
          </li>
            <li class="nav-item active  ">
         <a class="nav-link" href="https://dash.vortexbot.org/panel">
              <i class="material-icons">dashboard</i>
              <p>Yönetim Paneli</p>
            </a>
          </li>
             <li class="nav-item ">
               <a class="nav-link" href="https://dash.vortexbot.org/kullanici/<%=user.id%>/yonet">
              <i class="material-icons">photo</i>
              <p>Seviye Kartı</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="https://dash.vortexbot.org/kullanici/<%=user.id%>">
              <i class="material-icons">person</i>
              <p>Kullanıcı Bilgi</p>
            </a>
          </li>
           <li class="nav-item ">
            <a class="nav-link" href="https://dash.vortexbot.org/komutlar">
              <i class="material-icons">dvr</i>
              <p>Komutlar</p>
            </a>
          </li>
          
          
             <li class="nav-item ">
            <a class="nav-link" href="https://dash.vortexbot.org/botuekle">
              <i class="material-icons">
add</i>
              <p>Botu Sunucuna Ekle</p>
              </a>
          </li>
                        <li class="nav-item ">
            <a class="nav-link" href="./cikis">
              <i class="material-icons">exit_to_app</i>
              <p>Çıkış Yap</p>
              </a>
          </li>
           
        </ul>
      </div>
    </div>
    <div class="main-panel">
   
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
       <%if(user) {%>
               <%  if(bot.ayar.has(`üyelikk_${user.id}`) === true)  { %>
            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=32" width="31" height="31" class="d-inline-block align-middle rounded-circle" style="border-style:solid;border-width: 1px;border-color: #eef60e ">
           </a>
          <%  }  %> 
         
      <%}%>
             <%if(user) {%>
               <%  if(!bot.ayar.has(`üyelikk_${user.id}`) === true)  { %>
            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=32" width="30" height="30" class="d-inline-block align-middle rounded-circle" alt="">
           </a>
          <%  }  %> 
         
      <%}%>
          
             <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
     
          
      </nav>
          
           
      
          
         
        
      
      <div class="content">
         <div class="col">
            <div class="container">
       
        <center>
          <font color="#f0e6e8">
           <h3>
<%=sunucu.name%>
           </h3>
        </font>
           </center>
 
<div class="card-columns" style="padding: 20px; border-radius: 40px;">

  <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/ozelkomutlar" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Özel Komutlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/ozelkomutlar">
						<p class="card-text" href="/panel/<%=sunucu.id%>/ozelkomutlar" style="color:#fff"><center>Sunucunuza özel istediğiniz kadar komut ekleyebileceğiniz bir sistem.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/genel" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Genel Ayarlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/genel">
						<p class="card-text" href="/panel/<%=sunucu.id%>/genel" style="color:#fff"><center>Botun sunucudaki ön-eki/prefixi ayarlanabilir. <br>Susturma rolü ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/giriscikis" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Giriş Çıkış</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/giriscikis">
						<p class="card-text" href="/panel/<%=sunucu.id%>/giriscikis" style="color:#fff"><center>Sunucuya birisi katıldığında ve sunucudan birisi ayrıldığında atılacak mesajlar.<br>Kanal ve mesajlar ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/otorol" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Otomatik Rol</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/otorol">
						<p class="card-text" href="/panel/<%=sunucu.id%>/otorol" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişiye verilecek rol.<br>Rol ve otomatik rol kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
  <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/komutkanal" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Komut-Kanal</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/komutkanal">
						<p class="card-text" href="/panel/<%=sunucu.id%>/komutkanal" style="color:#fff"><center>Sunucuda kullanıcıların kullanacağı kanalı ayarlayabileceğiniz sistem.<br>Sıfırlarsanız bütün kanallarda kullanabilirler.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/ototag" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Tag</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/ototag">
						<p class="card-text" href="/panel/<%=sunucu.id%>/ototag" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişinin isminin başına eklenecek tag.<br>Tag ve tag kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/sayac" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Sayaç</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/sayac">
						<p class="card-text" href="/panel/<%=sunucu.id%>/sayac" style="color:#fff"><center>Sunucuya birisi katılınca ve sunucudan birisi ayrılınca ayarlanan hedefe kaç kişi kaldığını sayar.<br>Sayaç ve kanal ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/filtre" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Filtreler</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/filtre">
						<p class="card-text" href="/panel/<%=sunucu.id%>/filtre" style="color:#fff"><center>Küfür engelleme, Sunucu Koruma, Büyük harf ve link engelleme sistemleri.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/desteksistemi" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Destek Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/desteksistemi">
						<p class="card-text" href="/panel/<%=sunucu.id%>/desteksistemi" style="color:#fff"><center>Geliştirilmiş sunucu içi destek sistemi.<br>Destek kanalı, rolü ve mesajı ayarlanabilir.</center></p>
					</div>
				</div>
   <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/guvenlik3" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Güvenlik Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/guvenlik3">
						<p class="card-text" href="/panel/<%=sunucu.id%>/guvenli3" style="color:#fff"><center>Sunucuya biri katıldığı zaman onu doğrular ve seçtiğiniz kanala güvenlimi değilmi diye resim atar.<br>Güvenlik kanalı ayarlanabilir.</center></p>
					</div>
				</div>
     <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/gresim" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Resimli Hoşgeldin-Güle Güle Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/gresim">
						<p class="card-text" href="/panel/<%=sunucu.id%>/gresim" style="color:#fff"><center>Sunucuya gelen üyeleri belirttiğiniz kanala resimli bir şekilde karşılar.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/modlog" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Modlog Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/modlog">
						<p class="card-text" href="/panel/<%=sunucu.id%>/modlog" style="color:#fff"><center>Sunucuda olan olayları seçtiğiniz kanala yazar.<br>Modlog kanalı ayarlanabilir.</center></p>
					</div>
				</div>
  
</div>
         <center>
    <a href="https://panel.botvortex.xyz/panel" button style="background-color:orange; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"> <i aria-hidden="true"></i>Geri Dön</button> </a>    </div>
              
   </center>   
        
  
        
        
      </form>
    </div>  
  </div>
</div> 
      
           
    </div>
  </div>
  
  <script src="/css/js/jquery.min.js"></script>
  <script src="/css/js/popper.min.js"></script>
  <script src="/css/js/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/css/js/perfect-scrollbar.jquery.min.js"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script src="/css/js/chartist.min.js"></script>

  <script src="/css/js/bootstrap-notify.js"></script>

  <script src="/css/js/material-dashboard.js?v=2.1.0"></script>
    

  <script src="/css/js/demo.js"></script>

  
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>
<%- include('footer.ejs', {bot, user, path}) %>